sample_public_key       = "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDGPWemWMC4r+0DFA48/VOrZMObi6KJuot4HppaXAXjeIpZv383gNvD6S0HtGSbIusWv+v7votxxYCtUTA0pio2KBLd0WECw3+2ji+rW9916LGZFKLs9dGs0wBtSDln6OWM09zJWEamahnMS4eyJdeH+NIDpzUc3vh2YxCRYn32ymcc/Zh91hOX3B/Q2xy2CCoYDToUH6Opl8sSAmUyiAdFZoUe/cG9LdO2/Yk1y461EK3298SiqsC7HbcNOsFi+Dc8kVKmoWtCJIkAI+PTT7x0vJ58P4Zc02eoq1BS81e+kD6GQIk87rcwp86Ss1yIWhwv44IamDbfrwJzd7YdlPbNzxzfUOQ0Ih7r8j+2m3pytC/X/fAg/qNZB9TSWPP9cr7DTi5NiWoCMnBXFJPXpgc/Wrhx1jtc6vSaaoPQBwZ64XDbF+QHN26BifmkrqF0ft1K2p0p/qMj/JJLS56GzNkI+2raMbZIEFZ2B5HCvyo3YH/zNyYIMPKfQndGDHn9cCZM3dOUa06woAduKDBGfUSPAbg9YvZX1Q4q0bUQr7IflzRBD1MeZ5oDNPkQfOE7Kyj2Ni4Mo7yjv/P6Nezd3yq6fa2+Br4Uk427FhOrRFQfivUhoZGu1UkDNX8a7lT1B4RtE/4hv0178jWbnAzBg9hjIC6/1xQzP4qP5+Scy0x6kQ== ec2@aws"